body {
  font-family: roboto, serif;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

.header-outer,
.header-inner,
.hero-outer,
.hero-inner,
.footer-outer,
.footer-inner {
  background: #1F2937;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero-inner .title {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}

.header-links,
.hero-text,
.hero-inner img,
.footer-inner {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-inner {
  margin-top: 4em;
  margin-bottom: 4em;
  gap: 5%;
}

.hero-inner img {
  height: auto;
  width: auto;
  max-width: 40%;
}

.info-inner img {
  width: 144px;
  height: 144px;
}

.info-outer,
.info-inner {
  background-color: #FFF;
}

.info-inner {
  margin-left: 90px;
  margin-right: 90px;
  max-width: 1100px;
}

ul {
  list-style: none;
}

a {
  color: #E5E7EB;
}

.header-links a {
  text-decoration: none;
}

.info-inner .title {
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
}

.item {
  color: #4B5564;
}

.quote-outer,
.quote-inner {
  background: #E5E7EB;
  color: #1F2937;
}

.quote-inner {
  margin-left: 120px;
  margin-right: 120px;
  max-width: 1000px;
}

.quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
}

.quote-author {
  font-weight: bold;
}

button,
.signup-inner {
  color: #FFF;
  background-color: #3882F6;
  border-radius: 8px;
}

.hero-inner button {
  width: 8em;
  height: 2.5em;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.signup-inner button {
  width: 8em;
  height: 2.5em;
  font-size: 16px;
  font-weight: bold;
  border-color: #FFF;
  border-style: solid;
  border-width: 3px;
}

.header-outer {
  flex: 1;
}

.header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5em;
}

.hero-outer {
  flex: 2;
  max-height: 20em;
}

.hero-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.info-outer {
  flex: 5;
  padding: 1em;
}

.info-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: row;
  padding-top: -4em;
  padding-bottom: 4em;
  gap: 1em;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.item-text {
  text-align: center;
}

.quote-outer {
  flex: 5;
  padding: 1em;
}

.quote-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.signup-outer {
  flex: 4;
}

.signup-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.signup-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-left .title {
  font-size: 24px;
  font-weight: bold;
}

.signup-text {
  color: #E5E7EB;
}

.footer-outer {
  flex: 1;
}

.footer-inner {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.empty {
  flex-grow: 5;
  flex-shrink: 2;
  flex-basis: 210px;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1200px;
}
